<div class="py-4">
  <p>あなたの荷物の大きさは</p>
  <p><span class="me-3">縦:</span><%= @size[:vertical] %>cm</p>
  <p><span class="me-3">横:</span><%= @size[:side] %>cm</p>
  <p>厚さ:<%= @size[:thickness] %>cm</p>
  <p>重量:<%= @size[:weight] %>g</p>

  <% if @shippingmethods[0].price == 0 %>
    <p>対応する発送方法がありません</p>
  <% else %>
    <h2>最安発送方法</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>発送方法</th>
          <th>送料</th>
        </tr>
      </thead>
      <tbody>
        <% @cheapest.each do |ch| %>
          <tr>
            <td><%= ch.name %></td>
            <td><%= ch.price %>円</td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <h2>発送方法一覧</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>発送方法</th>
          <th>送料</th>
        </tr>
      </thead>
      <tbody>
        <% @shippingmethodsort.each do |shipping| %>
          <tr>
            <td><%= shipping.name %></td>
            <td><%= shipping.price %>円</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <a class="btn btn-secondary" href="/">戻る</a>
</div>