<h1>検索結果</h1>
<p>あなたの荷物の大きさは</p>
<p>長辺:<%= @size[:longside] %>cm 短辺:<%= @size[:shortside] %>cm 厚さ:<%= @size[:thickness] %>cm 重量:<%= @size[:weight] %>g</p>

<% if @shippingmethods[0].price == 0 %>
  <p>対応する発送方法がありません</p>
<% else %>
  <p>最安発送方法</p>
  <% @cheapest.each do |ch| %>
    <p><%= ch.name %> 送料<%= ch.price %>円</p>
  <% end %>
  <p>発送方法一覧</p>
  <% @shippingmethods.each do |shipmethod| %>
    <p><%= shipmethod.name %> 送料<%= shipmethod.price %>円</p>
  <% end %>
<% end %>

<a href="/">戻る</a>