<div class="py-4">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>項目</th>
        <th>値</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>配送方法</td>
        <td><%= @method.titlename %></td>
      </tr>
      <tr>
        <td>料金</td>
        <td>下記参照</td>
      </tr>
      <tr>
        <td>種類</td>
        <td><%= @method.type %></td>
      </tr>
      <tr>
        <td>縦</td>
        <td>下記参照</td>
      <tr>
      <tr>
        <td>横</td>
        <td>下記参照</td>
      <tr>
      <tr>
        <td>厚さ</td>
        <td>下記参照</td>
      <tr>
      <tr>
        <td>3辺合計</td>
        <td>下記参照</td>
      <tr>
        <td>重量</td>
        <td>下記参照</td>
      </tr>
      <tr>
        <td>匿名配送</td>
        <td><%= @method.anonymous %></td>
      </tr>
      <tr>
        <td>追跡</td>
        <td><%= @method.tracking %></td>
      </tr>
      <tr>
        <td>補償</td>
        <td><%= @method.compensation %></td>
      </tr>
    </tbody>
  </table>
  <h2 class="border-start border-4 border-danger ps-2 my-4"><%= @teikeigaistandards[0].name %></h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>項目</th>
        <th>値</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>縦</td>
        <% if @method.lside.nil? == false %>
          <td><%= @method.lside %>cm</td>
        <% else %>
          <td>-</td>
        <% end %>
      </tr>
      <tr>
        <td>横</td>
        <% if @method.sside.nil? == false %>
          <td><%= @method.sside %>cm</td>
        <% else %>
          <td>-</td>
        <% end %>
      </tr>
      <tr>
        <td>厚さ</td>
        <% if @method.thickness.nil? == false %>
          <td><%= @method.thickness %>cm</td>
        <% else %>
          <td>-</td>
        <% end %>
      </tr>
      <tr>
        <td>3辺合計</td>
        <% if @method.threesides.nil? == false %>
          <td><%= @method.threesides %>cm</td>
        <% else %>
          <td>-</td>
        <% end %>
      </tr>
    </tbody>
  </table>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>重量</th>
        <th>料金</th>
      </tr>
    </thead>
    <tbody>
      <% @teikeigaistandards.each do |teikeigaistandard| %>
        <tr>
          <% if teikeigaistandard.weight >= 1000 %>
            <td><%= teikeigaistandard.weight / 1000 %>kg</td>
          <% else %>
            <td><%= teikeigaistandard.weight %>g</td>
          <% end %>
          <td><%= teikeigaistandard.price %>円</td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <h2 class="border-start border-4 border-danger ps-2 my-4"><%= @teikeigainonstandards[0].name %></h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>項目</th>
        <th>値</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>縦</td>
        <% if @method2.lside.nil? == false %>
          <td><%= @method2.lside %>cm</td>
        <% else %>
          <td>-</td>
        <% end %>
      </tr>
      <tr>
        <td>横</td>
        <% if @method2.sside.nil? == false %>
          <td><%= @method2.sside %>cm</td>
        <% else %>
          <td>-</td>
        <% end %>
      </tr>
      <tr>
        <td>厚さ</td>
        <% if @method2.thickness.nil? == false %>
          <td><%= @method2.thickness %>cm</td>
        <% else %>
          <td>-</td>
        <% end %>
      </tr>
      <tr>
        <td>3辺合計</td>
        <% if @method2.threesides.nil? == false %>
          <td><%= @method2.threesides %>cm</td>
        <% else %>
          <td>-</td>
        <% end %>
      </tr>
    </tbody>
  </table>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>重量</th>
        <th>料金</th>
      </tr>
    </thead>
    <tbody>
      <% @teikeigainonstandards.each do |teikeigainonstandard| %>
        <tr>
          <% if teikeigainonstandard.weight >= 1000 %>
            <td><%= teikeigainonstandard.weight / 1000 %>kg</td>
          <% else %>
            <td><%= teikeigainonstandard.weight %>g</td>
          <% end %>
          <td><%= teikeigainonstandard.price %>円</td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <h2 class="border-start border-4 border-danger ps-2 my-4">備考</h2>
  <ul>
    <li>円筒形のものもOK</li>
    <li>円筒形の場合直径3cm長さ14cm以上の下限あり</li>
    <li>縦14cm横9cm以上の下限あり</li>
    <li>上記制限より小さなものでも6cm×12cm以上の耐久力のある厚紙または布製のあて名札を付ければ差し出し可能</li>
    <li>郵便受けへお届け</li>
  </ul>
  <h2 class="border-start border-4 border-danger ps-2 my-4">参考サイト</h2>
  <div class="d-flex flex-column">
    <a href="https://www.post.japanpost.jp/service/standard/one_size.html" target="_blank" rel="noopener noreferrer">定形郵便物・定形外郵便物のサイズ・重さについて - 日本郵便</a>
    <a href="https://www.post.japanpost.jp/service/standard/one_price.html" target="_blank" rel="noopener noreferrer">定形郵便物・定形外郵便物の料金 - 日本郵便</a>
    <a href="https://www.mercari.com/jp/help_center/article/73/" target="_blank" rel="noopener noreferrer">普通郵便（定形、定形外） - メルカリ スマホでかんたん フリマアプリ</a>
  </div>
</div>